spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create    # 앱 시작 시 테이블 생성
    show-sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      data-locations: classpath:data-local.sql


# AWS 설정 (로컬에서는 더미 값으로)
aws:
  access-key-id: dummy
  secret-access-key: dummy
  region: ap-northeast-2
  s3:
    bucket-name: dummy-bucket